<div id="<%= dom_id change_history %>">
  <p>
    <strong>Modification date:</strong>
    <%= change_history.modification_date %>
  </p>

  <p>
    <strong>Change description:</strong>
    <%= change_history.change_description %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= change_history.product_id %>
  </p>

</div>
