<div id="<%= dom_id customer %>">

    <th><%= customer.customer_name %></th>
    <th>
      <% if customer.customer_name == "admin"%>
        admin
      <% else%>
        usuario
      <% end %>
    </th>
    <th>desconectado </th>
    
  

</div>
