<h1>Editing reserve or purchase</h1>

<%= render "form", reserve_or_purchase: @reserve_or_purchase %>

<br>

<div>
  <%= link_to "Show this reserve or purchase", @reserve_or_purchase %> |
  <%= link_to "Back to reserve or purchases", reserve_or_purchases_path %>
</div>
